.about {
  width: 100%;
  height: 750px;
}
.side_img{
    width: auto;
    height: 600px;
}
.about_heading {
  font-weight: 700;
  font-size: 40px;
}
.about_parah {
  font-size: 13px;
}
.about-card-div {
  padding: 15px;
  width: 450px;
  border-radius: 16px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}

@media (max-width: 820px) {
  .about-card-div {
    width: 100%;
    height: auto;
  }
.side_img{
    width: auto;
    height: 400px;
}
.about_heading {
  font-weight: 700;
  font-size: 30px;
}
.about_parah {
  font-size: 13px;
}
.about-card-div {
  padding: 15px;
  width: 330px;
  border-radius: 16px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}

}
@media (max-width: 412px) {
  .about-card-div {
    width: 100%;
    height: auto;
  }
.about_heading {
  font-weight: 700;
  font-size: 30px;
}
.about_parah {
  font-size: 16px;
}
.about-card-div {
  padding: 15px;
  width: 330px;
  border-radius: 16px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}

}