.Donate{
    width: 100%;
    height: 400px;
    background-color: #ff534a;
    border-radius: 30px;
}
.donate-heading{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.donate-heading > h1{
    font-size: 60px;
}
img{
    width: 600px;
    height: auto;
    margin-top: 60px;
}
@media (max-width: 768px) {
    .Donate{
    width: 100%;
    height: 400px;
    background-color: #ff534a;
    border-radius: 30px;
}
.donate-heading{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.donate-heading > h1{
    font-size: 30px;
}
.donate-heading > img{
    width: 400px;
    height: auto;
    margin-top: 90px;
}
}
@media (max-width: 412px) {
    .Donate{
    width: 100%;
    height: 250px;
    background-color: #ff534a;
    border-radius: 30px;
}
.donate-heading{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.donate-heading > h1{
    font-size: 30px;
}
.donate-heading > img{
    width: 200px;
    height: auto;
    margin-top: 120px;
}
}