*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.Donate{
    width: 100%;
    height: 400px;
    background-color: #ff534a;
    border-radius: 50px;
}
.donate-heading{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.donate-heading > h1{
    font-size: 60px;
}
img{
    width: 600px;
    height: auto;
    margin-top: 60px;
}