* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
.hero {
  width: 100%;
  height: 600px;
  background-color: #ff534a;
}

.text_hero {
  padding-left: 60px;
}

.heading_hero {
  font-size: 65px;
  text-align: start;
}
.parah {
  text-align: start;
  font-size: 17px;
}
.Img_hero {
  width: auto;
  height: 540px;
  margin-top: 90px;
  transform: translateX(250px);
}

@media (max-width: 820px) {
 .hero {
  width: 100%;
  height: 600px;
  background-color: #ff534a;
}

.text_hero {
  padding-left: 60px;
}

.heading_hero {
  font-size: 35px;
  text-align: start;
}
.parah {
  text-align: start;
  font-size: 17px;
}
.Img_hero {
  width: auto;
  height: 500px;
  margin-top: 130px;
  transform: translateX(0px);
}
}
