*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.howtouse{
    width: 100%;
    height: 600px;
    color: black;
}
.head_howtoues > h1{
    font-size: 40px;
    font-weight: 600;
}
.head_howtoues > p{
    font-size: 14px;
    font-weight: 400;
}
.count{
    width: 60%;
}
.hr_count {
        border: none;    
        height: 1px;     
        background-color: #000000;
        margin: 25px 0;
        width: 40%;
        border-radius: 50px; 
}