* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}
.header{
    width: 100%;
    height:40px;
    background-color: #ff534a;
}

.logo_img{
    width: 30px;
    height: auto;
}