
.services{
    width: 100%;
    height: 600px;
}

.d-text{
    color: black;
    height: 200px;
    line-height: 32px;
    font-size: xx-large;
}
.card-div {
  width: 350px;
  height: 150px;
  border-radius: 16px;
  border: none;
  box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}
.card-div-btn {
  border: none;
  box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}

@media (max-width: 820px) {
    .services{
        width: 100%;
        height: auto;
    }
    .d-text{
        color: black;
        height: auto;
        line-height: 32px;
        font-size: xx-large;
    }
  .card-div {
    width: 100%;
    height: auto;
  }

  
}