.testimonial{
    width: 100%;
    height:1000px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
}

.user span {
  font-size: 12px;
  color: #777;
}

.img2{
    transform:translateY(-40px)
}
.info{
    margin: 30px;
}
.info > h3{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.info > span{
    font-size: 14px;
    color: gray;
}
.card-div-testimonial {
  width: 350px;
  height: 300px;
  border-radius: 16px;
  border: none;
  box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div-testimonial h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div-testimonial p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}

@media (max-width: 768px) {
  .testimonial{
    width: 100%;
    height:auto;
    transform: translateX(-30px);
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
}

.user span {
  font-size: 12px;
  color: #777;
}

.img2{
    transform:translateY(-40px)
}
.info{
    margin: 30px;
}
.info > h3{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.info > span{
    font-size: 14px;
    color: gray;
}
.card-div-testimonial {
  width: 350px;
  height: 300px;
  border-radius: 16px;
  border: none;
  box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div-testimonial h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div-testimonial p {
  font-size: clamp(14px, 2vw, 16px);
  line-height: 1.6;
}
}
@media (max-width: 412px) {
  .testimonial{
    width: 100%;
    height:auto;
    /* transform: translateX(-30px); */
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #ddd;
}

.user span {
  font-size: 12px;
  color: #777;
}

.img2{
    transform:translateY(-40px);
    margin-left: 30px;
}
.info{
    margin: 30px;
}
.info > h3{
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.info > span{
    font-size: 14px;
    color: gray;
}
.card-div-testimonial {
  width: 350px;
  height: 300px;
  border-radius: 16px;
  border: none;
  box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #f2f2f2;
}

.card-div-testimonial h5 {
  font-size: clamp(18px, 2.5vw, 22px);
  font-weight: 600;
}

.card-div-testimonial p {
  font-size: clamp(16px, 2vw, 16px);
  line-height: 1.6;
}
}